USE [master]
GO
/****** Object:  Table [dbo].[cartItems]    Script Date: 1/26/2026 3:16:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cartItems](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[productId] [int] NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_userCart] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productCategories]    Script Date: 1/26/2026 3:16:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productCategories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
 CONSTRAINT [PK_ProductCategories] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productImages]    Script Date: 1/26/2026 3:16:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productImages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[productId] [int] NOT NULL,
	[image] [varchar](255) NOT NULL,
 CONSTRAINT [PK_productImages] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 1/26/2026 3:16:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[description] [varchar](1000) NULL,
	[basePrice] [decimal](10, 2) NOT NULL,
	[discount] [int] NULL,
	[finalPrice] [decimal](10, 2) NOT NULL,
	[quantity] [int] NOT NULL,
	[publisherId] [int] NOT NULL,
	[views] [int] NOT NULL,
	[unitsSold] [int] NOT NULL,
	[categoryId] [int] NULL,
 CONSTRAINT [PK__products__3213E83F54727D91] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userPersonalData]    Script Date: 1/26/2026 3:16:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userPersonalData](
	[userId] [int] NOT NULL,
	[firstName] [varchar](50) NOT NULL,
	[middleName] [varchar](50) NULL,
	[lastName] [varchar](50) NOT NULL,
	[secondLastName] [varchar](50) NULL,
 CONSTRAINT [PK_userPersonalData] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 1/26/2026 3:16:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NULL,
	[password] [varchar](255) NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cartItems] ON 

INSERT [dbo].[cartItems] ([id], [userId], [productId], [quantity]) VALUES (2, 21, 1, 10)
SET IDENTITY_INSERT [dbo].[cartItems] OFF
GO
SET IDENTITY_INSERT [dbo].[productCategories] ON 

INSERT [dbo].[productCategories] ([id], [name]) VALUES (1, N'Technology')
INSERT [dbo].[productCategories] ([id], [name]) VALUES (2, N'Clothing')
INSERT [dbo].[productCategories] ([id], [name]) VALUES (3, N'Kitchen')
SET IDENTITY_INSERT [dbo].[productCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[productImages] ON 

INSERT [dbo].[productImages] ([id], [productId], [image]) VALUES (1, 1, N'/Images/playstation-5-pro.jpg')
INSERT [dbo].[productImages] ([id], [productId], [image]) VALUES (2, 1, N'/Images/ps5pro1-1.jpg')
INSERT [dbo].[productImages] ([id], [productId], [image]) VALUES (3, 1, N'/Images/500_333.webp')
SET IDENTITY_INSERT [dbo].[productImages] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

SET IDENTITY_INSERT [dbo].[products] OFF
GO
INSERT [dbo].[userPersonalData] ([userId], [firstName], [middleName], [lastName], [secondLastName]) VALUES (21, N'Javier', NULL, N'Moreno', NULL)
INSERT [dbo].[userPersonalData] ([userId], [firstName], [middleName], [lastName], [secondLastName]) VALUES (22, N'Javier', N'', N'Moreno', N'')
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [email], [password]) VALUES (21, N'javiermorenov1203@gmail.com', N'$2a$11$O3gKN3Noxh0aoVWrxklAoeX4eWmusP9fnHaW1./89/Ho6d4/OY4x2')
INSERT [dbo].[users] ([id], [email], [password]) VALUES (22, N'javiermorenov@gmail.com', N'$2a$11$LLwx/Y/RhXPMwEed8I4A4.31K.HDFLhMqu.Kd1MZZaa7xCv7/Wy5.')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_email]    Script Date: 1/26/2026 3:16:22 AM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UQ_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cartItems]  WITH CHECK ADD  CONSTRAINT [FK_cart_product] FOREIGN KEY([productId])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[cartItems] CHECK CONSTRAINT [FK_cart_product]
GO
ALTER TABLE [dbo].[cartItems]  WITH CHECK ADD  CONSTRAINT [FK_cart_user] FOREIGN KEY([userId])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[cartItems] CHECK CONSTRAINT [FK_cart_user]
GO
ALTER TABLE [dbo].[productCategories]  WITH CHECK ADD  CONSTRAINT [FK_product_category] FOREIGN KEY([id])
REFERENCES [dbo].[productCategories] ([id])
GO
ALTER TABLE [dbo].[productCategories] CHECK CONSTRAINT [FK_product_category]
GO
ALTER TABLE [dbo].[productImages]  WITH CHECK ADD  CONSTRAINT [FK_product_images] FOREIGN KEY([id])
REFERENCES [dbo].[productImages] ([id])
GO
ALTER TABLE [dbo].[productImages] CHECK CONSTRAINT [FK_product_images]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_categories] FOREIGN KEY([categoryId])
REFERENCES [dbo].[productCategories] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_categories]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_users] FOREIGN KEY([publisherId])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_users]
GO
ALTER TABLE [dbo].[userPersonalData]  WITH CHECK ADD  CONSTRAINT [FK_userPersonalData_users] FOREIGN KEY([userId])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[userPersonalData] CHECK CONSTRAINT [FK_userPersonalData_users]
GO
