footer {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.834);
    padding-top: 30px;
    padding-bottom: 70px;
    color: white;
    border-top: 1px solid grey;
    margin-top: 70px
}

footer p {
    cursor: pointer;
    margin: 5px 0;
    font-size: 12px;
}

footer p:hover {
    text-decoration: underline;
}

#footer-column-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 80px;
}
