.main-header {
    color: white;
    background-color: var(--red-color);
    margin: 0;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.header-container {
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.main-header input {
    width: 550px;
    padding: 8px 10px;
    font-size: 15px;
    color: rgb(53, 53, 53);
    border-style: none;
    border-radius: 5px;
}

.main-header input:focus {
    outline: 0;
}

#page-title {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.header-center {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 0 auto;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-button {
    border-radius: 5px;
    height: 40px;
    min-width: 30px;
    padding: 0px 10px;
    color: inherit;
    font-size: inherit;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.header-button:hover {
    background-color: rgb(187, 0, 0);
}