.carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-btn {
    border: none;
    background-color: rgb(223, 223, 223);
    color: rgb(53, 53, 53);
    font-size: 30px;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
}

.arrow-btn:hover {
    opacity: 0.7;
}

.product-panel {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 0 5px;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE */
    max-width: 870px; /* 4 cards + gaps */
}

.product-panel::-webkit-scrollbar {
    display: none; /* Chrome */
}
