.product-card {
    height: 335px;
    width: 200px;
    flex-shrink: 0;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: white;
}

.product-image-container {
    width: 100%;
    height: 210px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
}

.product-card:hover {
    cursor: pointer;
}

.product-card img {
    max-width: 95%;
    max-height: 95%;
}

.product-card-info {
    padding: 0px 10px;
}

.product-card-title {
    font-size: 14px;
    max-height: 32px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;   /* máximo 2 líneas */
    -webkit-box-orient: vertical;
}

.product-card-title:hover {
    text-decoration: underline;
}

.product-card-price {
    font-size: 16px;
}

.product-card-price-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 6px;
}

.product-card-price-container p {
    margin: 0;
}

.product-card-discount {
    color: rgb(255, 78, 78);
}

.product-card-base-price {
    text-decoration: line-through;
    opacity: 0.7;
    margin: 0;
}