.product-card {
    height: 320px;
    width: 200px;
    min-width: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(104, 104, 104);
    border-radius: 5px;
}

.product-image-container {
    width: 100%;
    height: 210px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
}

.product-card:hover {
    cursor: pointer;
}

.product-card img {
    max-width: 95%;
    max-height: 95%;
}

.product-card-info {
    padding: 0px 10px;
}

.product-card-title {
    font-size: 14px;
    max-height: 32px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;   /* máximo 2 líneas */
    -webkit-box-orient: vertical;
}

.product-card-title:hover {
    text-decoration: underline;
}

.product-card-price {
    font-size: 16px;
}

.product-card-price-container {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    align-items: center;
}

.product-card-price-container p {
    margin: 0;
}

.product-card-discount {
    color: rgb(255, 78, 78);
}

.product-card-base-price {
    text-decoration: line-through;
    opacity: 0.7;
}