.product-card {
    height: 320px;
    width: 200px;
    min-width: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(104, 104, 104);
    border-radius: 5px;
}

.product-image-container {
    width: 100%;
    height: 210px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
}

.product-card:hover {
    cursor: pointer;
}

.product-card img {
    width: 90%;
    max-width: 100%;
}

.product-card div p {
    padding: 0px 10px;
}

.product-card-title {
    font-size: 14px;
    max-height: 32px;
    overflow: hidden;
}

.product-card-title:hover {
    text-decoration: underline;
}

.product-card-price {
    font-size: 16px;
}