.product-card {
    height: 250px;
    width: 150px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(104, 104, 104);
    border-radius: 5px;
    overflow: hidden;
}

.product-card:hover {
    cursor: pointer;
    background-color: rgb(238, 238, 238);
}

.product-image-container {
    width: 100%;
    height: 150px;
    display: flex;
    border-radius: inherit;
}

.product-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.product-card div p {
    padding: 0px 10px;
    font-size: 14px;
}

.title {
    max-height: 30px;
    overflow: hidden;
}