.content-container {
    display: flex;
    justify-content: center;
}

.content {
    display: block;
    width: 800px;
}

.product-section {
    display: block;
    justify-content: center;
}

h3 {
    text-align: center;
}

.product-panel {
    display: flex;
    justify-content: center;
    gap: 20px;
}