#home-image-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-image {
    display: flex;
    width: 870px;
    margin: 0 1%;
    background-color: rgb(255, 255, 255);
    overflow-x: auto;
    scrollbar-width: none;
}

#home-image img {
    width: 100%;
}