#home-image-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-image {
    display: flex;
    width: 1046px;
    margin: 0 5px;
    background-color: rgb(255, 255, 255);
    overflow-x: auto;
    scrollbar-width: none;
}

#home-image img {
    width: 100%;
}

@media screen and (max-width: 1300px) {
    #home-image {
        max-width: 835px;
    }
}