#product-panel {
    display: grid;
    grid-template-columns: 1fr 1.3fr 0.6fr;
    gap: 30px;
}

#product-images {
    display: flex;
    gap: 30px;
}

#product-images-sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#product-images-sidebar div,
#selected-product-image {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#product-images-sidebar div {
    height: 54px;
    width: 54px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    cursor: pointer;
}

#product-images-sidebar img,
#selected-product-image img {
    max-height: 100%;
    max-width: 100%;
}

#selected-product-image {
    width: 350px;
    aspect-ratio: 1/1;
}

#product-info h3 {
    margin-top: 0;
}

#product-info p {
    font-size: 13px;
}

#product-info a {
    color: var(--text-color)
}

.in-stock {
    color: green;
}

.no-stock {
    color: rgb(255, 78, 78);
}

#purchase-panel {
    padding: 0 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 90%;
    padding-top: 10%;
}

#purchase-panel .product-card-price {
    font-size: 18px;
}

#price-wrapper {
    display: grid;
    gap: 5px;
}

#price-wrapper p {
    margin: 0;
}

#base-price {
    display: flex;
    gap: 6px;
    align-items: center;
}

#purchase-panel .product-card-base-price {
    margin-bottom: 0;
}

#purchase-panel input.field {
    color: var(--text-color);
}

#button-container {
    display: grid;
    gap: 10%;
    margin-bottom: 10%;
}

#purchase-panel label {
    display: flex;
    align-items: center;
    margin-bottom: 10%;
    margin-top: 8%;
    gap: 10px;
}

#purchase-panel label text {
    margin-right: 10px;
}

#purchase-panel label input {
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 13px;
    padding-left: 10%;
}
