#product-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#product-panel-wrapper {
    display: flex;
    justify-content: center;
    max-width: 975px;
}

#product-panel {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1.2fr 0.5fr;
    margin-top: 30px;
}

#product-images {
    display: flex;
}

#product-images-sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 10px;
}

#product-images-sidebar div,
#selected-product-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#product-images-sidebar div {
    height: 54px;
    width: 54px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-color: rgb(104, 104, 104);
    cursor: pointer;
}

#product-images-sidebar img,
#selected-product-image img {
    max-height: 100%;
    max-width: 100%;
}

#product-images-sidebar img {
    border-radius: inherit;
}

#selected-product-image {
    width: 280px;
    height: 280px;
}

#product-info {
    padding-right: 10px;
    
}

#purchase-panel {
    padding: 0 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(104, 104, 104);
    width: 90%;
    padding-top: 10%;

}

#price-wrapper {
    display: grid;
    gap: 5px;
}
#price-wrapper p {
    margin: 0;
}

#purchase-panel #final-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#purchase-panel .product-card-base-price {
    margin-bottom: 0;
}

#button-container {
    display: grid;
    gap: 10%;
    margin-bottom: 10%;
}

#purchase-panel label {
    display: flex;
    align-items: center;
    margin-bottom: 10%;
    margin-top: 8%;
    gap: 10px;
}

#purchase-panel label text {
    margin-right: 10px;
}

#purchase-panel label input {
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 3px 0;
    padding-left: 8%;
    font-size: 13px;
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
}