#register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#account-info,
#personal-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#register-footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 40px;
    gap: 50px;
}

#register-footer button,
#register-footer input {
    width: 100px;
}