#register-form {
    display: grid;
    justify-content: center;
}

#account-info,
#personal-info {
    width: 900px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#register-footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 30px;
    gap: 50px;
}