.field {
    padding: 8px 6px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    background-color: var(--field-background-color);
}

label {
    display: grid;
}

label, p, input, button {
    font-size: 14px;
}

input[type="submit"], button {
    border-style: none;
    padding: 8px;
    border-radius: 5px;
    background-color: rgb(204, 204, 204);
}

input[type="submit"], .red-btn {
    background-color: var(--red-color);
    color: white;
}

input[type="submit"], button, a {
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(187, 0, 0);
}

label input {
    margin-top: 4px;
}
