body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

div.page {
    display: flex;
    justify-content: center;
}

div.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1170px;
    margin: 0 100px;
    margin-top: 30px;
    width: 100%;
    min-height: 70vh;
}

div.content > * {
    width: 100%;
}

:root {
    --red-color: rgb(229, 0, 0);
    --border-color: rgba(104, 104, 104, 0.526);
    --field-background-color: rgb(248, 248, 248);
    --text-color: rgb(53, 53, 53)
}