body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(53, 53, 53);
}

div.page {
    display: flex;
    justify-content: center;
}

:root {
    --red-color: rgb(229, 0, 0);
    --border-color: rgba(104, 104, 104, 0.526);
    --field-background-color: rgb(248, 248, 248);
    --text-color: rgb(53, 53, 53)
}